@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* Shared Style Start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}


/* Shared Style End*/

/* Navbar Style Start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 30px 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-menu-list{
    display: flex;
}
.follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 24px;
}
.nav-menu-list li{
    list-style: none;
    padding-right: 20px;
}
.nav-menu-list li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.fa-youtube{
    color: red;
}
.fa-brands{
    padding-left: 5px;
}
.nav-logo h3{
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 15px;
}
.nav-logo h3 span{
    color: #FF42A5 ;
}
/* Navbar Style End */

/* Header Style Start */
header{
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
}
.header-section{
    display: flex;
    gap: 150px;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
}
.header-content{
    max-width: 50%;
    text-align: left;
}
.header-content h2{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.header-content h1{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    line-height: normal;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    
}
.header-content span{
    display: flex;
    align-items: center;
    padding-bottom: 17px;
}
.header-content span p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    padding-left: 10px;
}
.header-img{
    max-width: 50%;
}

.btn-primary{
    padding: 21px 40px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
}
.btn-signin{
    background-color: #FF42A5;
}
.btn-rogue{
    background-color: #4EC5F7;
}

/* Header Style End */

/* Banner Style Start */

.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 70px 0;
    gap: auto;
    background-color: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.banner-img{
    min-width: 60%;
}
.banner-img img{
    max-width: 100%;
}

.banner-content{
    text-align: right;
}
.banner-content h2{
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.banner-content p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.btn-know{
    background-color: #FF42A5;
    margin: 30px 0 21px;
}
.banner-content h5{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
.banner-content h3{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
/* Banner Style End */

/* Funny Videos Style Start*/
.funny-videos{
    max-width: 90vw;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}
.funny-videos h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
}
.funny-videos h2 span{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.funny-videos p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}
.funny-video-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.card{
    position: relative;
}
.card img{
    width: 290px;
    height: 340px;
}
.card:hover .card-btn{
    display: flex;
}
.card:hover #card-img{
    opacity: .6;
    border: 2px solid #FF42A5;
    border-radius: 17px;
}
.card-btn{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    display: none;
}
.card-btn i{
    color: white;
    padding-bottom: 10px;
}
.card-btn button{
    color: #FF42A5 ;
    font-size: 18px;
    background: transparent;
    border: none;
}
.card p{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    padding-top: 10px;
}
/* Funny Videos Style End*/

/* Play Instant Style Start*/
.play-instant{
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-instant-content{
    text-align: right;
    max-width: 30%;
}
.play-instant-content h2{
    color: #0B0223;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
}
.play-instant-content h2 span{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.play-instant-content p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.play-instant-img-sub{
    position: absolute;
    transform: translate(-150px, -300px);
}

/* Play Instant Style End*/

.play-games{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 300px;
    justify-content: space-around;
}

.play-games-content{
    text-align: left;
}
.play-games-img-sub{
    position: absolute;
    transform: translate(550px, -300px);
}

/* Button Collection Style Start*/

.button-collection{
    max-width: 90vw;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;  
}
.button-collection a{
    text-decoration: none; 
}
.button-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border-radius: 50px;
    background: #FFF;
}
.button-card p{
    color: #0B0223;
    font-weight: 600;
}
.button-collection a:hover .button-card{
    border: 1px solid #FF42A5;
    color: #FF42A5;
}
.button-collection a:hover .button-card p{
    color: #FF42A5;
}
/* Button Collection Style End*/

/* Footer Style Start*/
.footer{
    background-color: #0B0223;
    text-align: center;
    padding: 90px 0 110px 0;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo h3{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    padding-left: 10px;
}
.footer-logo h3 span{
    color: #FF42A5;
}
.footer-menu{
    padding: 50px 0 40px;
    color: #FFF;
}
.footer-menu-list{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footer-menu-list a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding-right: 50px;
    cursor: pointer;
}
.footer-icon{
    color: #fff;
    font-size: 30px;
    padding: 0 25px;
}
.footer-links-list{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 30px;
}
.footer-links-list a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    padding-right: 50px;
    font-size: 16px;
    cursor: pointer;
}

footer p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding-top: 25px;
}
/* Footer Style End*/


/* Responsive Style Start*/

/* For Mobile Device*/
@media screen and (max-width:576px) {
    .navbar {
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
        padding: 100px auto 100px;
        text-align: center;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    }
    .nav-menu-list {
        flex-direction: column;
        padding-top: 50px;
    }
    .nav-menu-list li {
        padding-bottom: 30px;
    }
    header {
        background-image: none;
    }
    .header-section {
        flex-direction: column-reverse;
        gap: 25px;
        align-items: center;
        max-width: 100%;
        margin: 0 auto; 
    }
    .header-img{
        max-width: 100%;
        margin: 0 auto;
    }
    .header-img img{
        max-width: 95%; 
    }
    .header-content {
        max-width: 100%;
        text-align: left;
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-content h2 {
        font-size: 43px;
    }
    .header-content h1 {
        font-size: 85px;
    }
    .header-content span {
        padding-left: 30px;
    }

    .banner-section {
        flex-direction: column;
    }
    .banner-content {
        text-align: center;
        padding: 15px;
    }
    .banner-content h3 {
        font-size: 25px;
    }
    .funny-videos h2 {
        font-size: 25px;
        font-weight: 600;
    }
    .funny-videos p {
        font-size: 14px;
        font-weight: 400;
    }
    .funny-video-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .card p{
        padding-left: 45px;
        max-width: 80%;
        font-size: 14px;
        text-align: center;
    }
    .play-instant {
        max-width: 100%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .play-instant-content {
        text-align: center;
        max-width: 100%;
    }
    .play-instant-content h2 {
        font-size: 45px;
        padding: 20px;
    }
    .play-instant-content p{
        font-size: 16px;
        padding: 15px;
    }
    .play-instant-img{
        max-width: 100%;
        margin-top: 50px;
    }
    .play-instant-img-main img{
        width: 80%;
        float: right; 
    }
    .play-instant-img-sub img{
        width: 60%;
        transform: translate(150px, 500px);
    }
    .button-collection {
        max-width: 100%;
        margin: 120px auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0 2px;
    }
    .button-card{
        gap: 2px;
        padding: 5px 2px;
        border-radius: 50px;
        background: #FFF;
    }
    .button-card img{
        width: 25%;
    }
    .button-card p {
        color: #0B0223;
        font-size: 10px;
        font-weight: 500;
    }
    .footer{
        padding: 70px 30px 90px;
        margin: 0 auto;
    }
    .footer-menu-list, .footer-icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .footer-menu-list a {
        font-size: 16px;
        padding-right: 10px;
    }
    .footer-icon {
        color: #fff;
        font-size: 30px;
        padding: 0 30px;
    }
    .footer-links-list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
        padding-top: 30px;
    }
    .footer-links-list a{
        padding: 15px;
        font-size: 14px;
    }
    footer p{
        font-size: 14px;
    }

}

/*For Tablet & Laptop*/
@media screen and (min-width:576px) and (max-width:960px) {
    .navbar {
        flex-direction: column;
        gap: 50px;
        max-width: 1240px;
        margin: 50px auto;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);     
    }
    .header-section {
        flex-direction: column-reverse;
        gap: 25px;
        align-items: center;
        max-width: 100%;
        margin: 0 auto; 
    }
    .header-img{
        max-width: 100%;
        margin: 0 auto;
    }
    .header-img img{
        max-width: 95%; 
    }
    .header-content {
        max-width: 100%;
        text-align: left;
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-section {
        flex-direction: column;
    }
    .banner-content {
        text-align: center;
        padding: 25px;
    }
    .banner-content h3 {
        font-size: 32px;
    }
    .funny-videos h2 {
        font-size: 40px;
        font-weight: 600;
    }
    .funny-videos p {
        font-size: 18px;
        font-weight: 400;
    }
    .funny-video-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card p{
        padding-left: 45px;
        max-width: 80%;
        font-size: 16px;
        text-align: center;
    }
    .play-instant {
        max-width: 100%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .play-instant-content {
        text-align: center;
        max-width: 100%;
    }
    .play-instant-content h2 {
        font-size: 45px;
        padding: 20px 100px;
    }
    
    .play-instant-content p{
        font-size: 16px;
        padding: 15px;
    }
    .play-instant-img{
        max-width: 100%;
        margin-top: 50px;
    }
    .play-instant-img-main img{
        width: 90%;
        float: right; 
    }
    .play-instant-img-sub img{
        width: 70%;
        transform: translate(130px, 700px);
    }
    .button-collection {
        max-width: 100%;
        margin: 120px auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0 5px;
    }
    .button-card{
        gap: 2px;
        padding: 5px 5px;
        border-radius: 50px;
        background: #FFF;
    }
    .button-card p {
        color: #0B0223;
        font-size: 16px;
        font-weight: 500;
    }
    .footer{
        padding: 70px 30px 90px;
        margin: 0 auto;
    }
    .footer-menu-list, .footer-icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 20px;
    }
    .footer-menu-list a {
        font-size: 16px;
        padding-right: 10px;
    }
    .footer-icon {
        color: #fff;
        font-size: 30px;
        padding: 0 20px;
    }
    .footer-links-list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
        padding-top: 30px;
    }
    .footer-links-list a{
        padding: 15px;
        font-size: 16px;
    }
    footer p{
        font-size: 16px;
    }
    
}


.hide{
    display: none;
}